<html>
<head>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/fontawesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/g/animatecss@3.5.0,emojione@2.2.6(assets/css/emojione.min.css)">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.2.3/jquery.min.js"></script>
</head>

<body>

<div class="container main">
    <div class="row">
        <div class="col-md-12 video">
            <h3>Video URL</h3>
            <form class="form-inline" onsubmit="return!1">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="http://m.vlive.tv/video/1234" name="vlive-link" id="vlive-link" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Enter only the link to the video, example: http://m.vlive.tv/video/6789" title="">
                </div>
                <a id="goto-link" href="javascript: void(0)" class="btn btn-primary">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="//cdn.jsdelivr.net/g/bootstrap@3.3.6,emojione@2.2.6"></script>

<script>
    function setVideoLink() {
        var e = $("#vlive-link").val()
          , o = vliveExpr.exec(e)
          , i = $("#goto-link");
        o ? i.attr("href", + o[1]) : i.attr("href", "javascript:void(0);")
    }
    var vliveExpr = new RegExp("vlive.tv/video/([0-9]+)");
    $(document).ready(function() {
        var e = $("#vlive-link");
        e.change(function() {
            setVideoLink()
        }),
        e.focusout(function() {
            setVideoLink()
        }),
        e.popover(),
        $("a[data-toggle=popover]").popover()
    });
</script>

</html>
